/* Extra extra large	xxl	≥1400px */
@media (min-width: 1440px) {
    
}

/* Extra large	xl	≥1200px */
@media (min-width: 1220px) {
    
}

/* large	lg	≥992px */
@media (min-width: 992px) {
    
}

/* Medium md	≥768px */
@media (min-width: 768px) {
    footer{
        .right{
            .social{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

/* small sm	≥576px */
@media (min-width: 576px) {
    
}
/* Extra small xsm	≥400px */
@media (max-width: 400px) {
    .latest{
        .desc{
            display: none;
        }
    }
}
/* Extra extra small	≥300px */
@media (min-width: 300px) {
    
}



