@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
    box-sizing: border-box;
}

// nav section style
nav {
    .navbar-toggler {
        &:focus:not(:focus-visible) {
            border: none;
        }

        .fa-bars {
            color: #fff;
        }
    }
}

// End nav section style

// main section style
main {

    // banner section style
    .banner {
        .image {
            img {
                width: 100%;
                height: 100%;
                // max-height: 400px;
                transition: 0.05s;
            }

            &:hover img {
                transform: scale(1.01);
            }

            .live {
                bottom: 10px;
                left: 10px;

                .red-spot {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    background-color: red;
                    border-radius: 50%;
                    border: 1px solid red;
                    transition: all 2s linear;
                    animation: blink 2s linear infinite;
                    box-shadow: -1px -1px 9px 1px red;
                }
            }

            @keyframes blink {
                0% {
                    transform: scale(0.8);
                }

                50% {
                    transform: scale(1);
                }

                100% {
                    transform: scale(0.8);
                }
            }
        }
        .extra-content{
            img{
                width: 100%;
                min-width: 100px;
                max-width: 125px;
                height: 100%;
                max-height: 125px;
            }
        }
    }

    .latest{
        // background-color: red;
        padding: 1rem 0;
        hr{
            background-color: black;
            height: 3px;
        }
        img{
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .trending-news{
            background-color: rgba(128, 128, 128, 0.212);
        }
    }

    .card{
        max-width: 300px;
        min-height: 400px;
    }
    // End banner section style
}

// End main section style


// Footer section style
footer {
    .input-box {
        outline: none;
        border: none;

        &:focus,
        &:active {
            outline: none;
            border: none;
        }
    }

    .right {
        .list-group {
            .list-group-item {
                background-color: transparent;
                border: none;
                color: gray;
                font-weight: lighter;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: red;
                    margin-left: 5px;
                }

                &:nth-child(1) {
                    color: #fff;
                    font-size: 1.15rem;
                    font-weight: bold;
                    pointer-events: none;

                }
            }
        }

        .social {
            display: flex;
            padding: 3px;
            justify-content: space-evenly;

            i {
                width: 50px;
                height: 50px;
                font-size: 1.5rem;
                border: 1px solid #fff;
                padding: 5px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all .3s ease-in;

                &:hover {
                    background-color: #fff;
                    color: gray;
                }
            }
        }
    }
}

// End Footer section style